* {
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
}

h1 {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-items: flex-end;
  color: #f8f8f8;
  font-weight: 900;
  font-size: 70px;
  transition: color 0.5s ease-in-out;
  margin-bottom: 30px;
  cursor: default;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(241, 241, 199);
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
  cursor: default;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.form {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form input {
  border-radius: 15px;
  border: none;
  height: 30px;
  padding-left: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 700;
}

.form input:focus {
  outline: none;
  border: none;
}

.form input:focus::placeholder {
  opacity: 0;
}

.toDoForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoForm input {
  border: none;
  height: 30px;
  width: 250px;
  font-size: 20px;
  font-weight: 700;
  color: brown;
  background-color: greenyellow;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 5px 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.toDoForm input:focus {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: greenyellow;
}
.toDoForm input:focus::placeholder {
  opacity: 0;
}

.toDoForm input::placeholder {
  color: rgba(black, 0.3);
}

.toDoList-container {
  display: flex;
  justify-content: center;
}

.toDoList-container ul {
  width: 30%;
}

.toDoList-container li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(241, 241, 199);
}

.toDoList-container span {
  color: white;
  font-weight: 700;
  cursor: default;
}

button {
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

button:hover {
  background-color: blue;
  color: white;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: flex;
}
.weather {
  position: absolute;

  right: 30px;
  top: 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 2s forwards;
}
